<header>
    <nav class="navbar  sticky-top navbar-dark navbar-expand-lg" >
        <div class="container">
          <a class="navbar-brand" href="#">The Nopera </a>
          <button class="navbar-toggler " type="button"  data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#aboutMe">About me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Dev Journal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#social">Social medias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>