<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<title>The Nopera HQ</title>
</head>
<%- include("./partials/navbar") %>
    <body>
        <section id="welcomeSection">
            <div class="container text-center">
                <h1 class="welcomeText titleText">HELLO WORLD!<br> WELCOME TO MY WEBSITE... </h1>
            </div>
        </section>
        <section id="aboutMe">
            <div class="container headline title">
                <h1 class="titleText">ABOUT ME</h1>
            </div>
            <div class="container aboutMeContainer">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-xl-3">
                    <div class="col">
                        <div class="card  text-bg-dark  mb-3" ">
                            <div class=" card-header">WHO AM I?</div>
                        <div class="card-body ">
                            <h5 class="card-title">Hi! I'm Daniel and I'm a PROgramer.</h5>
                            <p class="card-text">I'm currently studying Computer Science at UCB
                                (Universidade Católica de Brasília), planning to work as a fullstack developer and
                                further in the future open my own business;<br>
                                I'm a very determined person. I like to be challenged and I can't stop until the work is
                                done and the problem is solved;<br>
                                I'm a very creative person. I love to create: drawing, painting, coding. This are all
                                things I end up losing track of time while I'm doing it;</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card text-bg-dark  mb-3">
                        <div class=" card-header">MY SKILLS</div>
                        <div class="card-body ">
                            <h5 class="card-title">Web Dev and Art are my thing.</h5>
                            <p class="card-text">I'm currently learning web dev, so I have knowledge with languages like
                                css, javascript and html as well as a great grasp of the C language. On top of that,
                                some
                                Frameworks
                                and libraries I use are node.js, React and bootstrap. I'm a fast learner so I fit very
                                well
                                with any tool available for the job.<br>
                                Besides programming I really like to draw/paint, most of the times I use krita but i
                                also
                                like photoshop. If you want to see some of my art check the
                                social medias section of the site. </p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card text-bg-dark  mb-3" ">
                            <div class=" card-header">FUN STUFF</div>
                    <div class="card-body ">
                        <h5 class="card-title">Some curiosities:</h5>
                        <ul class="list-group ">
                            <li class="list-group-item text-bg-dark">
                                Favorite Band: Red Hot Chilli Peppers 🌶️;
                            </li>
                            <li class="list-group-item text-bg-dark">
                                Favorite Artist: Kanye west;
                            </li>
                            <li class="list-group-item text-bg-dark">
                                Favorite Show: Breaking Bad;
                            </li>
                            <li class="list-group-item text-bg-dark">
                                Favorite Manga: Vagabond;
                            </li>
                            <li class="list-group-item text-bg-dark">
                                Hobby: Lifting;
                            </li>
                            <li class="list-group-item text-bg-dark">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> Secret content</a>🤫
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            </div>
            </div>
        </section>

        <section id="social">
            <div class="container headline title">
                <h1 class="titleText">SOCIAL MEDIAS</h1>
            </div>

            <div class="container socials">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-xl-4">
                    <div class="col">
                        <div class="card text-bg-dark text-center">
                            <div class="card-header"><i class="fa-brands fa-github fa-6x"></i></div>
                            <h5 class="card-title">
                                GitHub
                            </h5>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-bg-dark text-center">
                            <div class="card-header"><i class="fa-brands fa-linkedin fa-6x"></i></div>
                            <h5 class="card-title">
                                Linkedin
                            </h5>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-bg-dark text-center">
                            <div class="card-header"><i class="fa-brands fa-instagram fa-6x"></i></div>
                            <h5 class="card-title">
                                Instagram
                            </h5>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-bg-dark text-center">
                            <div class="card-header"><i class="fa-brands fa-artstation fa-6x"></i></div>
                            <h5 class="card-title">
                                ArtStation
                            </h5>
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <section id="contact">
            <div class="container headline title">
                <h1 class="titleText">CONTACT ME</h1>
            </div>
        </section>


        <script src="https://kit.fontawesome.com/c62d9b9034.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    </body>
    </body>
</html>

